<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Floraria Flora livreaza flori, buchete, plante in ghiveci si aranjamente florale la domiciliu.">
        <meta name="keywords" content="florarie,flori,buchet,buchete">
        <title>Floraria Flora - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css"
        <%- include("../fragmente/head.ejs");  %> 
    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>